#box-left{ 
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 500px;
  top: 0px;
}

#box-right{
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 500px;
  top: 0px;
  right: 0px;
}

.arrow{
  width: 50px;
}

#left-arrow{
  top: 100px;
  left: -40px;
}

#right-arrow{
  top: 100px;
  right: -35px;
}


/*a{
  display: none;
  position: absolute;
  top: 102px;
  z-index: 1;
  width: 64px;
  height: 76px;
  background-color: rgba(254, 254, 254, .9);
}*/

a img{
  position: absolute;
}

.colors{
  padding: 15px 18px;
  float: left;
}

#main-container{
  background-color: rgb(183, 181, 181);
  overflow: hidden;
  margin: 10px;
  display: flex;
  width: fit-content;
}

body {
  position: absolute;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;

}

h1 {
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
}

h2 {
  line-height: 18px;
  padding-top: 20px;
  margin: 0px;
  display: inline-block;
}
