.arrow{
  width: 50px;
}

#left-arrow{
  top: 100px;
  left: -40px;
}

#right-arrow{
  top: 100px;
  right: -35px;
}

#carousel-viewport{
  width: 526px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#carousel{
  position: absolute;
  left: 0;
  transition: 250ms;
  background-color: lightslategray;
}

/*a{
  display: none;
  position: absolute;
  top: 102px;
  z-index: 1;
  width: 64px;
  height: 76px;
  background-color: rgba(254, 254, 254, .9);
}*/

a img{
  position: absolute;
}

.colors{
  padding: 15px 18px;
  float: left;
}

h1{
  text-align: center;
}

#main-container{
  background-color: rgb(183, 181, 181);
  overflow: hidden;
  margin: 10px;
  display: flex;
  width: fit-content;
}

body { 
  display: flex;
  flex-direction: column; 
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  align-items: center;
}

h1 {
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
}

h2 {
  line-height: 18px;
  padding-top: 5px;
  height: 24px;
}
